<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Substitution Cipher Breaker</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>
<body>
    <div class="cipher-background" id="matrixBackground"></div>    
    <div class="content-container">
        <h1>Homophonic Substitution Cipher Breaker</h1>
        <form id="cipherForm" method="post" action="/process_cipher">
            <!-- <label for="fileUpload">Upload Cipher Text:</label>
            <input type="file" id="fileUpload" name="cipherFile"> -->

            <label for="approach">Choose Approach:</label>
            <select id="approach" name="approach">
                <option value="" selected disabled>Select</option>
                <option value="Frequency analysis on substitution cipher">Frequency analysis on substitution cipher</option>
                <option value="Frequency analysis + Bigram/Trigram analysis on substitution cipher">Frequency analysis + Bigram/Trigram analysis on substitution cipher</option>
                <option value="Frequency analysis + Cribbing on substitution cipher">Frequency analysis + Cribbing on substitution cipher</option>
                <option value="Frequency analysis on homophonic substitution cipher">Frequency analysis on homophonic substitution cipher</option>
                <option value="Hill climbing approach on homophonic substitution cipher">Hill climbing approach on homophonic substitution cipher</option>
            </select>

            <button type="submit">Break Cipher</button>
        </form>
    </div>

    <script src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>